<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>

    <main>
    <%- include('../includes/navigation.ejs') %>

    <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
      
        <form enctype="multipart/form-data" class="post-form centered" action="/<%= path %>" method="POST" novalidate style="display: inherit;">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= post.title %><% } %>">
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" id="content" rows="10" cols="50"><% if (editing) { %><%= post.content %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= post._id %>" name="postId">
            <% } %>

            <button class="btn btn-dark" type="submit"><% if (editing) { %>Update Post<% } else { %>Add Post<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>